.mh-mt-10 {
  margin-top: 10px !important;
}

.mh-mt-20 {
  margin-top: 20px !important;
}

.mh-mb-5 {
  margin-bottom: 5px !important;
}

.mh-ml-10 {
  margin-left: 10px;
}

.mh-mr-10 {
  margin-right: 10px;
}

.mh-datepicker-width {
  width: 150px;
}

.mh-whoareyou-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px 10% 2rem 6%;
}

.mh-whoareyou-availability-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.mh-whoareyou-save-btn {
  margin-top: 20px;
  margin-bottom: 60px;
}

.MuiOutlinedInput-adornedStart {
  padding-left: 0px !important;
}