.mh-button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  background-color: var(--primary);
  padding: 0.7rem 0px;
  width: 100%;
  max-width: 510px;
  border-radius: 5px;
  border: none;

  // margin-top: 20px;
  cursor: pointer;
}