.mh-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__style {
    display: inline-block;
    height: 14px;
    width: 14px;
    min-width: 14px;
    border-radius: 100px;
    border: 1px dashed var(--dark-blue);
    margin-right: 12px;
  }
}

