.mh-candidates {
  display: grid;
  grid-template-columns: 2fr 1fr;

  &__application {
    box-sizing: border-box;
    height: 100vh;
    padding: 5% 8%;
    overflow-y: scroll;

    & header {
      color: var(--primary);
      text-decoration: underline;
      font-weight: bold;
    }

    &__candidate-info {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & header {
          text-decoration: none;
          font-weight: bold;
          color: black;
        }
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0 15px;
          height: 40px;
          width: 200px;
          border-radius: 4px;
          font-family: "Poppins", sans-serif;
          line-height: 40px;
        }

        & .btn-interview-candidate {
          border: none;
          background-color: #a9e2e7;

          & img {
            height: 20px;
            width: 20px;
            align-self: center;
            margin-right: 10px;
          }
        }

        & .btn-reject-and-review {
          margin-top: 8px;
          border: 1px solid #FF6F6F;
          color: #FF6F6F;
          background-color: transparent;

          & img {
            height: 14px;
            width: 14px;
            align-self: center;
            margin-right: 10px;
          }
        }
      }
    }

    &__accordions {
      font-size: 16px;
      margin-top: 40px;

      &__personality {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 10px;
        & .header {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0px 15px;
        background-color: transparent;
        border: 1px solid var(--primary);
        border-radius: 4px;
        align-self: center;
        margin: 10px 0px 20px 0px;

        font-size: 16px;
        color: var(--primary);
        cursor: pointer;

        & .button-icon {
          height: 25px;
          width: 25px;
          align-self: center;
          margin-right: 10px;
        }
      }
    }

    & .accordion-spacer {
      height: 20px;
    }
  }

  &__application-list {
    box-sizing: border-box;
    padding: 1em;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
  }
}

.mh-candidates__application {
  &__experiences {
    margin-bottom: 10px;
    &__header {
      font-size: 18px;
      text-decoration: underline;
    }

    &__start-end {
      font-size: 18px;
      font-style: italic;
    }

    &__description {
      font-size: 14px;
      padding: 10px 0px;
    }
  }

  &__personality {
    margin-bottom: 30px;
    &--traits{
      & div {
        padding: 3px 5px;
        font-size: 14px;
      }
      width: 140px;
    }

    &--description {
      font-size: 12px;
    }
  }

  // &__message {

  // }
}