.mh-percentage {
  display: flex;
  flex-direction: row;
  align-items: center;

  --bar-bg-color: #f2f2f2;
  --bar-height: 18px;

  &__bar {
    display: flex;
    width: 100%;
    height: var(--bar-height);
    background-color: var(--bar-bg-color);
    border-radius: 100px;

    margin-right: 10px;

    &--active {
      background-color: #4A607B;
    }

    &__fill {
      display: inline-block;
      height: inherit;
      border-radius: inherit;
      background-color: #89E893;

      font-size: 12px;
      color: #64AE6C !important;
      text-align: center;
      line-height: var(--bar-height);
      white-space: nowrap;
    }

    &__text-outside-bar {
      font-size: 12px;
      color: #64AE6C !important;
      line-height: var(--bar-height);
      margin-left: 2px;
    }

    &__label {
      font-size: 13px;
      width: 130px;
      white-space: nowrap;
    }
  }
}