.mh-application-item {
  width: 100%;
  border: 1px solid #5f5353;
  border-radius: 10px;
  background-color: transparent;
  outline: none;

  padding: 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-align: left;
  margin-top: 20px;
  cursor: pointer;

  &--active {
    background-color: var(--dark-blue);
    color: white;
  }

  & .selected--active {
    color: white;
  }

  & header {
    font-weight: bold;
    color: var(--primary);
    text-decoration: underline;
  }

  &__applicant-info {
    font-weight: normal;
    color: var(--text);

    margin-top: 10px;

    & .name {
      font-size: 15px;
      font-weight: 600;
      margin-right: 6px;
    }

    & .line {
      display: inline-block;
      height: 3px;
      width: 10px;
      border-top: 1px solid #87878766;
      margin-right: 6px;
    }
  }

  &__traits {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--inline-block {
      display: inline-block;
      width: 100%;
      margin-right: 8px;

      &--last {
        margin-right: 0 !important;
      }
    }
  }

  &__percent-match {
    margin-top: 5px;
  }
}