.mh-flex-1 {
  flex: 1;
}

.mh-moreaboutyou-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px 10% 2rem 6%;
}

.mh-moreaboutyou-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.mh-moreaboutyou-outline-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33px;
  background-color: transparent;
  border: 1px solid #7FDAE0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  color: #FC6888;
  cursor: pointer;
  margin-top: 15px;
}

.mh-moreaboutyou-plus-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.mh-moreaboutyou-float-right-half-button {
  display: flex;
  align-self: flex-end;
  box-sizing: border-box;
  padding-left: 30px;
  width: 50%;
}

.mh-moreaboutyou-portfolio-links {
  display: flex;
  flex-direction: row;
}

.mh-moreaboutyou-icon-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

.mh-moreaboutyou-exp-divider {
  margin-bottom: 10px;
  color: #CACACA;
  text-align: center;
}

.mh-moreaboutyou-outline-button-no-icon {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: 2px solid #7FDAE0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  color: #FC6888;
  cursor: pointer;
  margin-right: 20px;
}

.mh-moreaboutyou-upload-container {
  cursor: pointer;
  color: #CACACA;
  box-sizing: border-box;
  padding: 20px 8px;
  font-size: 14px;
  text-align: center;
  border: 1px dashed #CACACA;
  border-radius: 4px;
  margin-top: 5px;
}