:root {
  --primary: #7fabe0;
  --dark-blue: #1F2F42;
  --text: #878787;
  --secondary: #E5EEF9;
}

.mh-signup {
  display: grid;
  grid-template-areas: 
  'sideImage signupForm';
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  &__side-image {
    grid-area: sideImage;
    position: relative;
    background-color: var(--secondary);

    &__mh-logo {
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      height: 70px;
      width: 70px;
      object-fit: contain;
    }

    &__big-picture-signup {
      position: absolute;
      bottom: 20%;
      left: 7%;
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    grid-area: signupForm;
    padding-top: 8rem;
    padding-bottom: 2rem;
    width: 80%;
    justify-self: center;

    &__form {
      font-size: 14px;
      font-weight: bold;
      color: var(--text);

      margin-top: 30px;

      &__textboxes {
        display: flex;
        flex-direction: column;
        max-width: 510px;
        margin-bottom: 24px;
      }

      &__checkboxes {
        display: grid;
        gap: 20px 0px;
        grid-template-areas:
        'candidate company'
        'terms terms';
        grid-template-columns: 1fr 1fr;
        white-space: nowrap;
        max-width: 510px;

        &__terms {
          grid-area: terms;
        }
      }

      &__button {
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: white;
        background-color: var(--primary);
        width: 100%;
        max-width: 510px;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &--company {
          background-color: var(--dark-blue);
        }
      }
    }

    &__footer {
      font-size: 14px;
      font-weight: normal;
      color: var(--text);
      white-space: nowrap;
      margin-top: 40px;

      & a {
        text-decoration: underline;
        color: var(--text);
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
}

.testCheckbox {
  height: 50px;
  font-size: 30px;
}

@media (max-width: 1080px) {
  .mh-signup {
    grid-template-areas: 'sideImage signupForm';
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 900px) {
  .mh-signup__content__form__checkboxes {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'candidate'
    'company'
    'terms';
    gap: 0px;
  }

  .mh-signup {
    grid-template-areas: 'sideImage signupForm';
    grid-template-columns: 1fr 4fr;
  }
}

@media (max-width: 600px) {
  .mh-signup {
    grid-template-areas: 'signupForm';
    grid-template-columns: 1fr;
  }
  .mh-signup__side-image {
    display: none;
  }

  .mh-signup__content__header {
    flex-direction: column;
  }

  .mh-signup__content__header__line {
    display: none;
  }
}
